{% extends "layout.html" %}
{% block content %}
<script src="http://code.jquery.com/jquery.min.js"></script>
<div id="page_mainbody">
        <div id="home_paragraph1">
                {% if ingredient_data is not none %}   
                    <h3 id="page_header">{{ ingredient_data.ingredient_name }}</h3>
                {% else %}
                    <h3 id="page_header">Invalid Ingredient</h3>
                {% endif %}
                <div id="page_mainbody_home">
                        {% if ingredient_data is not none %}
                            {% if ingredient_data.ingredient_desc is not none %}
                                <p>{{ ingredient_data.ingredient_desc }}</p>
                            {% else %}
                                <p>This ingredient has no description yet.</p>
                            {% endif %}
                        {% else %}
                            <p>The selected recipe is invalid. Fire the guys who broke this. Build better ones.</p>
                            <p>If this error is consistent, please report it!</p>
                        {% endif %}
                </div>
        </div>
</div>
{% endblock %}