<div id="drop_down_container">
        <div id="drop_down_content" class="drop_down_content"></div>
</div>
{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">All recipes</h3>
                <p id="previos_search" style="display: none;">{{ tag_search }}</p>
                <div id="page_mainbody_home">
                        <p>Search:</p>
                        <div id="recipe_search_div">
                                <input disabled class="textbox" type="text" id="recipe_search" name="txt_recipe_search" placeholder="Tasty Ingredients"><br>
                                <div id="recipe_search_add_item_div" style="margin-top: 1%;">
                                        <input class="textbox" type="text" id="recipe_item_search_text_box" name="txt_recipe_search" placeholder="Pasta"><br>
                                        <input type="submit" value="Add" class="submit_button_search" id="recipe_search_add">
                                        <input type="submit" value="Avoid" class="submit_button_search" id="recipe_search_avoid">
                                </div>
                                <input type="submit" value="Submit" class="submit_button" id="recipe_search_button">
                                <script src="http://code.jquery.com/jquery.min.js"></script>
                                <script src=" {{ url_for('static', filename='scripts/recipes/recipe_search.js') }}"></script>
                        </div>
                        {% if current_user.is_authenticated %}
                                <a href="{{ url_for('recipes_default') }}" class="button">Add New recipe</a>
                                <p></p>
                        {% endif %}
                        {% if recipe_list|length > 0 %}
                                {% for recipe in recipe_list %}
                                        <a href="{{ url_for('recipes_individual', recipe_id=recipe.recipe_id) }}">
                                                {% set image_name = "images/recipe_images/" + recipe.recipe_image_name %}
                                                <div class="recipe_box">
                                                        <div class="recipe_list_image">
                                                                <img src="{{ url_for('static', filename=image_name) }}">
                                                        </div>
                                                        <div class="recipe_list_info">
                                                                <p class="recipe_list_name"><b><strong>{{ recipe.recipe_name }}</strong></b></p>
                                                                <p>Author: {{ recipe.recipe_author }}</p>
                                                                <p>Type: {{ recipe.recipe_type }}</p>
                                                                <p>{{ recipe.recipe_id }}</p>
                                                        </div>
                                                </div>
                                        </a>
                                {% endfor %}
                                {% if total_recipes > 10 %}
                                        {% set previous_starting_id =  starting_id - no_results %}
                                        {% set next_starting_id = starting_id + no_results %}
                                        {% if next_starting_id > total_recipes - 1 %}
                                                {% set next_starting_id = total_recipes - 1 %}
                                        {% endif %}
                                        {% if previous_starting_id >= 0 and next_starting_id < total_recipes - 1 %}
                                                <p><a href="{{ url_for('recipes_default', starting_id=0) }}" class="button"><< First</a> <a href="{{ url_for('recipes_default', starting_id=previous_starting_id) }}" class="button">< Previous</a> ({{ current_page }}/{{ no_pages }}) <a href="{{ url_for('recipes_default', starting_id=next_starting_id) }}" class="button">Next ></a> <a href="{{ url_for('recipes_default', starting_id=total_recipes - 10) }}" class="button">Last >></a></p>
                                        {% elif previous_starting_id < 0 %}
                                                <p>({{ current_page }}/{{ no_pages }}) <a href="{{ url_for('recipes_default', starting_id=next_starting_id) }}" class="button">Next ></a> <a href="{{ url_for('recipes_default', starting_id=total_recipes - 10) }}" class="button">Last >></a></p>
                                        {% else %}
                                                <p><a href="{{ url_for('recipes_default', starting_id=0) }}" class="button"><< First</a> <a href="{{ url_for('recipes_default', starting_id=previous_starting_id) }}" class="button">< Previous</a> ({{ current_page }}/{{ no_pages }})</p>
                                        {% endif %}
                                {% endif %}
                        {% else %}
                                <p>No recipes match your search</p>
                        {% endif %}
                </div>
        </div>
</div>
{% endblock %}